mat-card {
    width: auto;
    border-radius: 10px;
    margin: 30px;
    mat-card-header {
      display: block;
      flex-direction: row;
    }
    mat-card-title {
      text-align: center;
    }
  }
  .mat-tab-labels {
    display: flex;
    justify-content: center !important;
  }
  .mat-tab-labels {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
  @media (max-width: 940px) {
    .conteiner {
      margin-top: 20%;
    }
    mat-tab{
      display: flex;
      justify-content: center !important;
    }
    
  }
 
  @media (max-width: 700px) {
    .conteiner {
      margin-top: 40%;
    }
  }
  .example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  
  .container {
    max-width: 100%;
    margin: 0%;
    padding: 0%;
  }
  mat-form-field {
    width: 100%;
  }
  
  .item-buttons {
    display: table-row;
    float: right;
    position: relative;
  }
  .style-button {
    float: right;
  }
  
  .example-spacer {
    margin: 1rem;
  }
  .card-subtitle {
    color: #ffffff;
  }
  
  .card-header {
    padding: 5%;
    margin-bottom: 5%;
    text-align: center;
    max-width: 100%;
    border-radius: 10px;
    background-color: darken(#01579b, 3);
    color: #ffffff;
  }
  .spacer {
    margin: 0.5rem;
  }
  .corner-position {
    position: fixed;
    bottom: 5rem;
    right: 1.6rem;
  }
  .price-item {
    min-width: 20%;
  }
  
  @media only screen and (max-width: 600px) {
    .item-buttons {
      display: table-row;
      float: left;
    }
    .style-button {
      float: left;
      width: 5rem;
    }
    .card-header {
      padding: 3%;
      max-width: 100%;
      margin-bottom: 5%;
      border-radius: 4px 4px 4px 4px;
      background-color: darken(#01579b, 3);
      color: #ffffff;
    }
  }
  